.nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 102px;
  flex-wrap: wrap;
  background: #fff;
  gap: 4px;
}
.nav ul {
gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: var(--primary-font);
}
.nav ul li a {
  color: #000;
}

.nav ul li a:hover {
  color: #008080;
  transition-duration: 1s;
}
.prof{
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
.profile{
  display: flex;
  align-items: center;
  gap:40px;}
.nav div a {
    font-family: var(--primary-font);
}

.nav div .Jane {
  color: #008080;
  font-family: var(--primary-font);
}

.wallet{display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  font-family: var(--primary-font);
  color: #00AC84;
}