.ls ul {
  gap: 5px;
  margin: 50px 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: var(--primary-font);
  font-size: 13px;
}
.ls ul li.under {
  border-bottom: 1px solid #38b2ac;
  color: #38b2ac;

}

.ls ul li {
  cursor: pointer;
  transition: 0.3s;
}
.ls ul li:hover{
  
  color: #38b2ac;
}