.Footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
  background-color: #000;
  color: #fff;
  align-items: center;
  font-family: sans-serif;
}
.Footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 15px 0px;
  gap: 20px;
}
