.dashboard {
  /* min-height: 170vh; */
  max-width: 85%;
  margin: 60px auto;
}

.results-header {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  align-items: center;
  text-align: center;
  gap: 0.9rem;
  margin-bottom: 20px;
}
.resultss-container {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  margin:50px auto;
  font-family: var(--primary-font);
}

.results-container h2 {
  font-size: 17px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  color: #555;
  padding-bottom: 10px;
  font-size: 14px;
}

td {
  padding: 12px 0;
  border-top: 1px solid #eee;
  font-size: 14px;
}

.normal {
  color: green;
  font-size: 16px;
  line-height: 24px;
}

.elevated {
  color: orange;
  font-weight: bold;
}

.view-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.view-all {
  margin-top: 15px;
  display: inline-block;
  color: #00a58c;
  font-size: 14px;
  text-decoration: none;
}

.view-all:hover {
  text-decoration: underline;
}

.Recordcontainer {
  width: 100%;
  margin: 30px auto;
  padding: 24px;
  font-family: var(--primary-font);
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.containerRecord p, .topi {
  font-size: 17px;
  font-weight: 500;
}

.Record-list{ list-style: none;
padding: 0;
margin: 0;}

.Record-item{line-height: 40px;font-size: 14px;}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 20px;
  border: 0;
}


.green {
  background-color: #2ecc71;
}

.red {
  background-color: #e74c3c;
}
.blue {
  background-color: #6A20dA;
}

.brown{background-color: #B5A817;}


.view-History {
  display: inline-block;
  margin-top: 15px;
  font-size: 14px;
  color: #00bfa6;
  text-decoration: none;
}
.Record-header{display: flex;
  width: 100%;
margin: 0 auto;
gap:0.9rem;
padding:15px 0px;}