@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
  --primary-font: 'Poppins', sans-serif;
  --background-color: #f5ffff;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5; /*Default  line-height for better readability */
  background-color: var(--background-color);
  font-family: var(--primary-font);
}

/* feature/Profile-page */
/* Code block font family */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Base App Layout */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.nav ul li a.active{
  padding-bottom: 2px;
  border-bottom: 1px solid #38B2AC;
  color: #38B2AC;
}

main .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.nav-link {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  column-gap: 32px;
}

.nav-link li a {
  text-decoration: none;
  color: #121212;
  font-size: 16px;
  line-height: 24px;
}

.hero-section-landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap; 
  column-gap: 300px;
  background-color:  var(--background-color); 
}

.hero-left {
  width: 40%;
}

.hero-left h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.5px;
}

.hero-left p {
  font-size: 24px;
  color: #333;
  line-height: 36px;
  width: 100%;
  cursor: pointer;
  letter-spacing: -0.5px;
}

.hero-image {
  width: 380px;
  height: 517px;
}

.hero-image img {
  width: 380px;
  height: 517px;
}

.health,
.testimonial-section {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 30px;
}
.health {
  background-color: #fff;
}
.health-section {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 3rem;
}
.head-text,
.control-head-text {
  font-size: 40px;
  line-height: 36px;
  letter-spacing: 0.2px;
}
.control-head-text {
  color: #fff;
}
.health-cards {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  width: 484px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  text-align: center;
  border-radius: 20px;
  padding: 40px;
  color: #131313;
  font-size: 24px;
}

.testimonial-section {
  /* background-color: #F5FFFF; */
  text-align: center;
}
.tes-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.testimonial {
  width: 70%;
  font-size: 24px; 
  border-radius: 20px;
  padding: 50px;
  border-left: 3px solid #38b2ac;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 50px;
}

figure {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

figcaption {
  text-align: left;
}

figcaption p:first-child{
  font-weight: 500;
}
figcaption p:last-child{
  font-weight: 400;
}


.health-control {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 55px;
  background-color: #38b2ac;
}

.health-control p {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
}

/* ================================= */
/* --      SHARED FOOTER          -- */
/* ================================= */

.main-footer-container {
  width: 100%;
  /* Use 100% to be responsive inside the body containers */
  height: 84px;
  background-color: #171717;
  padding: 30px 100px;
  box-sizing: border-box;
  margin-top: auto;
  /* This is key to push the footer to the bottom */
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #ffffff;
}

.footer-links {
  display: flex;
  gap: 32px;
  /* A standard gap between links */
}

.footer-links a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
